[submodule "hanabi-learning-environment"]
path = hanabi-learning-environment
url = https://github.com/KinslyIV/hanabi-learning-environment.git
	branch = master
	
[submodule "hanabi-bot"]
path = hanabi-bot
url = https://github.com/will-hanabi-bot/hanabi-bot.git
	branch = master
